<%- include("partials/header.ejs"); -%>
<div class="container">
  <h1>About This Website</h1>
  <h5 style="margin: 30px 0 20px">
    Firstly, the creator is just made a website that can help user to save the
    notes, organizing, task management, and archiving daily.
  </h5>
  <p><%= putContent %></p>
</div>

<%- include("partials/footer.ejs"); -%>
