<%- include("partials/header"); -%>
<div class="container">
  <h1>Contact Us</h1>
  <p><%= putContent %></p>
  <p style="font-weight: bold">Details are coming soon.</p>
</div>

<%- include("partials/footer"); -%>
