<%- include("partials/header.ejs"); -%>
<div class="container">
  <h1><%= getTitle %></h1>
  <p><%= getPost %></p>

  <a class="btn btn-sm btn-warning" href="/">Back Home</a>
</div>

<%- include("partials/footer.ejs"); -%>
